#root {
    height: 100vh;
    overflow: hidden;
}

#content {
    display: flex;
    gap: 1rem;
}

#content .pagination {
    position: absolute;
    bottom: .5rem;
    right: 1rem;
}

#sidebar {
    padding-top: 2rem;
}

#outlet {
    padding: 2rem;
    flex: 1;
    height: calc(100vh - 80px);
    overflow: auto;
    position: relative;
}

#sidebar {
    min-width: 300px;
    border-right: 1px solid rgb(212, 212, 212);
    min-height: calc(100vh - 80px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

#sidebar ul li {
    display: flex;
    gap: 1rem;
    padding: .4rem 2rem;
    margin-bottom: .6rem;
    transition: 200ms;
    color: #0067E6;
    opacity: .6;
}

#sidebar ul li:hover,
#sidebar .active {
    cursor: pointer;
    color: #004599;
    opacity: 1;
}

#sidebar svg {
    width: 1.3rem;
    height: 1.3rem;
}

#sidebar ul li p {
    font-size: .9rem;
    font-weight: 500;
}